.background {
    background-color: rgb(215, 210, 214);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 36px;
    color: rgb(156, 26, 78);
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
