.background {
    background-color: rgb(215, 210, 214);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 48px;
    color: rgb(156, 26, 78);
    font-weight: 600;
    margin-bottom: 20px;
}

.score {
    font-size: 24px;
    color: rgb(111, 111, 111);
    margin: 10px 0;
}

@media (max-width: 600px) {
    .header {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .score {
        font-size: 20px;
    }
}